# From Codewars
## https://www.codewars.com/kata/5e60cdcd01712200335bd676/train/python?collection=pandas

In [15]:
import pandas as pd
df_a = pd.DataFrame(data=[[2.5, 5.0, 9.0,3.0], [2.0, 2.0, 2.0,4.0]], columns=list('ABCD'))
df_b = pd.DataFrame(data=[[1.3,4.5,5.6,7.9,1.0], [4.3,2.5,6.6,1.9,1.0]], columns=list('CBDEF'))

In [16]:
df_a

     A    B    C    D
0  2.5  5.0  9.0  3.0
1  2.0  2.0  2.0  4.0

In [17]:
df_b

     C    B    D    E    F
0  1.3  4.5  5.6  7.9  1.0
1  4.3  2.5  6.6  1.9  1.0

In [18]:
# print(df_a['C'])
# print('###########################')
# print(df_a.loc[0,'C'])
# print('###########################')
# print(df_a.loc[0:,'C'])
# print('###########################')
# print(df_a.loc[0:,['C','B']])
# print('###########################')

(df_a.loc[0:,['C','B']]) < (df_b.loc[0:,['C','B']])

       C      B
0  False  False
1   True   True

In [21]:
fill = (df_a.loc[0:,['B','C','D']]) < (df_b.loc[0:,['B','C','D']])
print(fill['B'])
print(fill['C'])
print(fill['D'])

0    False
1     True
Name: B, dtype: bool
0    False
1     True
Name: C, dtype: bool
0    True
1    True
Name: D, dtype: bool

In [22]:
df_a.loc[fill['B'],'B'] = df_b.loc[(df_a.loc[fill['B'],'B'].index.values),'B']
df_a.loc[fill['C'],'C'] = df_b.loc[(df_a.loc[fill['C'],'C'].index.values),'C']
df_a.loc[fill['D'],'D'] = df_b.loc[(df_a.loc[fill['D'],'D'].index.values),'D']
df_a

     A    B    C    D
0  2.5  5.0  9.0  5.6
1  2.0  2.5  4.3  6.6